/* put your styles here*/

body {
    font-family: Chivo;
}
p{
    font-family: Overpass;
}
a {
    text-decoration: none;
    color: white;
    background-color: #1A48E3;
}

h1 {
    font-size: large;
    text-align: center;
}
h2 {
    font-size: large;
}
h3 {
    font-size: medium;
}
div.city{
    margin: 30px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 20px 30px rgba(0, 46, 162, 0.067);
}

.banner {
    text-align: center;
    background-image: url(static/images/background.jpg);
    background-size: cover;
    height: 300px;
    padding: 100px 0px
}

.footer {
    background-size: cover;
}