/* put your styles here*/
/*==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css?family=Chivo:700|Overpass:400,700&amp;display=swap");

body {
    font-family: Overpass;
    margin: 0;
}
p{
    font-family: Overpass;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: white;
}
div {
    display: block;
}
.banner {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../static/images/background.jpg);
    background-size: cover;
    padding: 100px 0px;
    color: white;
}
.banner p{
    opacity: 0.7;
    margin: 25px 0;
}
.banner h1{
    margin: 0;
}
.text-center {
    text-align: center;
}
.btn-blue {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #1A48E3;
    display: inline-block;
}
.btn-blue:hover {
    transition: ease-in-out 0.3s;
    text-decoration: none;
    background-color:#1338b0;
}
.img-circle {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
h1 h2 h3 {
    font-family: Chivo;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2 {
    font-size: 30px;
    color: #404042;
}
h3 {
    font-size: 20px;
    color: #404042;
}
.card-white {
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    box-shadow: -5px -5px 30px rgba(0, 46, 162, 0.067);
    text-align: center;
}
.card-white p{
    font-size: 20px;
}
.container {
    display: grid;
    margin: 30px;
    justify-content: center;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footer {
    background-size: cover;
    background-color: #404042;
    padding: 30px 0;
}
.footer p {
    vertical-align: center;
    color: white;
    opacity: 0.7;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width:1000px) {
    .banner{
        padding: 100px 20px;
    }
    div.cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}