<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Le Wagon - Web Development Sprint</title>
        <!-- Change these google fonts with your own choice -->
        <link href="https://fonts.googleapis.com/css?family=Chivo:700|Overpass:400,700&amp;display=swap" rel="stylesheet">

        <!-- custom css file link -->
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <!-- banner section -->
        <div class="banner">
            <h1>Change your life, learn to code</h1>    
            <p>Le Wagon brings technical skills to creative people</p>
            <a class="btn-blue" href="https://www.lewagon.com/"  target="_blank">Apply now</a>
        </div>
        
        <!-- cards section -->

        <div class="cards">
            <h2 class="subtitle">Discover our campuses</h2>
            <div class="list-inline">
                <div class="city">
                    <img class="img-circle" src="../static/images/shanghai.jpg" alt="Shanghai">
                    <h3>Shanghai</h3>
                    <p>Learn to code with us in shanghai.</p>
                </div>
                <div class="city">
                    <img class="img-circle" src="../static/images/london.jpg" alt="London">
                    <h3>London</h3>
                    <p>Learn to code with us in London.</p>
                </div>
                <div class="city">
                    <img class="img-circle" src="../static/images/paris.jpg" alt="Paris">
                    <h3>Paris</h3>
                    <p>Learn to code with us in Paris.</p>
                </div>
            </div>
        </div>
        <!-- footer section -->
        <div class="footer">
            <p class="text-center">Website made with ❤️ at Le Wagon</p>
        </div>

    </body>
</html>
<!--
text-center
button-red
-->
